<title>Saturn Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfsaturn.png" alt="Saturn Image">
    </div>
</div>
<h1>THE SATURN</h1>
<hr class="line">
<div class="right">
    <p>
        It is easy to forget just how large Saturn is, at around 10 times the diameter of Earth. And with a diameter of about 72,400 miles (116,500 kilometers), the planet simply dwarfs its retinue of moons. One of those satellites, Tethys (660 miles or 1,062 kilometers across), is seen here at lower right.

        This view looks toward the sunlit side of the rings from about 8 degrees above the ring plane. The image was taken with the Cassini spacecraft wide-angle camera on March 7, 2015 using a spectral filter that preferentially admits wavelengths of near-infrared light centered at 752 nanometers.

        The view was acquired at a distance of approximately 1.6 million miles (2.6 million kilometers) from Saturn. Image scale is 10 miles (16 kilometers) per pixel. Tethys is slightly closer at 1.5 million miles (2.4 million kilometers) away, for an image scale of 9 miles (14 kilometers) per pixel.

        The Cassini mission is a cooperative project of NASA, ESA (the European Space Agency) and the Italian Space Agency. The Jet Propulsion Laboratory, a division of the California Institute of Technology in Pasadena, manages the mission for NASA's Science Mission Directorate, Washington. The Cassini orbiter and its two onboard cameras were designed, developed and assembled at JPL. The imaging operations center is based at the Space Science Institute in Boulder, Colorado.
    </p>
</div>


