<title>Mercury Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfmerku.png" alt="Mercury Image">
    </div>
</div>
<h1>THE MERKCURY</h1>
<hr class="line">
<div class="right">
    <p>Mercury’s eccentric orbit takes the small planet as close as 
        47 million kilometers (29 million miles) and as far as 70 million 
        kilometers (43 million miles) from the Sun. If one could stand on 
        the scorching surface of Mercury when it is at its closest point 
        to the Sun, the Sun would appear more than three times as large 
        as it does when viewed from Earth. Temperatures on Mercury’s 
        surface can reach 430 degrees Celsius (800 degrees Fahrenheit). Because the planet has no atmosphere to retain that heat, 
        nighttime temperatures on the surface can drop to –180 degrees 
        Celsius (–290 degrees Fahrenheit). 
        Because Mercury is so close to the Sun, it is hard to directly observe from Earth except during dawn or twilight. Mercury makes 
        an appearance indirectly, however — 13 times each century, 
        observers on Earth can watch Mercury pass across the face of 
        the Sun, an event called a transit. These rare transits fall within 
        several days of May 8 and November 10. The first two transits of 
        Mercury in the 21st century occurred May 7, 2003, and November 8, 2006. The next are May 9, 2016, and November 11, 2019. 
        Mercury speeds around the Sun every 88 days, traveling 
        through space at nearly 50 kilometers (31 miles) per second 
        — faster than any other planet. One Mercury solar day equals 
        175.97 Earth days. 
        Instead of an atmosphere, Mercury possesses a thin “exosphere” made up of atoms blasted off the surface by the solar 
        wind and striking micrometeoroids. Because of solar radiation 
        pressure, the atoms quickly escape into space and form a “tail” 
        of neutral particles. Though Mercury’s magnetic field at the surface has just 1 percent the strength of Earth’s, it interacts with 
        the magnetic field of the solar wind to episodically create intense 
        “magnetic tornadoes” that funnel the fast, hot solar wind plasma 
        down to the surface. When the ions strike the surface, they 
        knock off neutrally charged atoms and send them on a loop high 
        into the sky.
        
    </p>  
</div>


