


/* Заголовок по правому краю сверху */
h1 {
    text-align: right; /* Выровнять заголовок по правому краю */
    color: white; /* Цвет заголовка */
    margin: 5vh 2vw 0 0; /* Уменьшаем отступы сверху и снизу */
    font-size: 4vw; /* Размер шрифта зависит от ширины окна просмотра */
    font-family: 'Josefin Sans', sans-serif;
}

/* Контейнер для двух колонок: левая с фото, правая с текстом */
.content {
    display: flex; /* Используем Flexbox для выравнивания колонок */
    justify-content: space-between; /* Пространство между колонками */
    align-items: flex-start; /* Выравнивание колонок по верхнему краю */
    padding: 0vh 0vw; /* Отступы внутри контейнера */
    height: auto; /* Высота контейнера задаётся содержимым */
    
}
/* Левая колонка с изображением */
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
     /* Измените, чтобы изображение находилось в верхней части контейнера */
    position: fixed;
    height: 100vh;
    z-index: -100000;

}

.left img {
    height: 100%; /* Изображение занимает 150% высоты */
    position: absolute; /* Абсолютное позиционирование внутри фиксированного контейнера */
    top: -6vh;
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
}
.line {
    border: none; /* Убираем стандартную границу */
    height: 2px; /* Высота линии */
    background-color: rgb(175, 166, 166); /* Цвет линии */
    margin: 2vh 0; /* Отступы сверху и снизу */
    width: 35%; /* Ширина линии */
    margin-right: 2vw; /* Отступ справа */
    margin-left: auto; /* Линия выровнена по правому краю */
}
/* Правая колонка с текстом */
.right {
    font-family: 'Josefin Sans', sans-serif;

    text-align: right; /* Выровнять текст по правому краю */
    color: #ccc; /* Светло-серый цвет для подзаголовка */
    margin-right: 2vw; /* Отступ справа */
    font-size: 1.8vw; /* Относительный размер шрифта */
    font-style: Robotic; /* Курсив для текста */
    margin-top: 1vh; /* Минимальный отступ сверху под заголовком */
    margin-bottom: 100px; /* Явный отступ снизу */
    margin-left: 23vw; /* Отступ слева для текста */
}
