<title>Neptune Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfneptunus.png" alt="Neptune Image">
    </div>
</div>
<h1>THE NEPTUNE</h1>
<hr class="line">
<div class="right">
    <p>
        The ice giant Neptune was the first planet located through
        mathematical predictions rather than through regular observations of the sky. (Galileo had recorded it as a fixed star during
        observations with his small telescope in 1612 and 1613.) When
        Uranus didn’t travel exactly as astronomers expected it to, a
        French mathematician, Urbain Joseph Le Verrier, proposed
        the position and mass of another as yet unknown planet that
        could cause the observed changes to Uranus’ orbit. After being
        ignored by French astronomers, Le Verrier sent his predictions
        to Johann Gottfried Galle at the Berlin Observatory, who found
        Neptune on his first night of searching in 1846. Seventeen days
        later, its largest moon, Triton, was also discovered.
        Nearly 4.5 billion kilometers (2.8 billion miles) from the Sun,
        Neptune orbits the Sun once every 165 years. It is invisible to
        the naked eye because of its extreme distance from Earth.
        Interestingly, the highly eccentric orbit of the dwarf planet Pluto
        brings Pluto inside Neptune’s orbit for a 20-year period out of
        every 248 Earth years. Pluto can never crash into Neptune,
        though, because for every three laps Neptune takes around the
        Sun, Pluto makes two. This repeating pattern prevents close
        approaches of the two bodies.
        The main axis of Neptune’s magnetic field is tipped over by
        about 47 degrees compared with the planet’s rotation axis. Like
        Uranus, whose magnetic axis is tilted about 60 degrees from the
        axis of rotation, Neptune’s magnetosphere undergoes wild variations during each rotation because of this misalignment. The
        magnetic field of Neptune is about 27 times more powerful than
        that of Earth.
    </p>
</div>


