<title>Venus Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfvenus.png" alt="Venus Image"> <!-- Указываем путь к загруженному изображению -->
    </div>
</div>
<h1>THE VENUS</h1> <!-- Заголовок по правому краю сверху -->
<hr class="line">
<div class="right">
    <p>Venus and Earth are similar in size, mass, density, composition, and gravity. There, however, the similarities end. Venus 
        is covered by a thick, rapidly spinning atmosphere, creating a 
        scorched world with temperatures hot enough to melt lead and 
        surface pressure 90 times that of Earth (similar to the bottom 
        of a swimming pool 1-1/2 miles deep). Because of its proximity 
        to Earth and the way its clouds reflect sunlight, Venus appears 
        to be the brightest planet in the sky. We cannot normally see 
        through Venus’ thick atmosphere, but NASA’s Magellan mission 
        during the early 1990s used radar to image 98 percent of the 
        surface, and the Galileo spacecraft used infrared mapping to 
        view both the surface and mid-level cloud structure as it passed 
        by Venus on the way to Jupiter. In 2010, infrared surface images by the European Space Agency’s Venus Express provided 
        evidence for recent volcanism within the past several hundred 
        thousand years. Indeed, Venus may be volcanically active today. 
        Like Mercury, Venus can be seen periodically passing across 
        the face of the Sun. These “transits” of Venus occur in pairs with 
        more than a century separating each pair. Transits occurred in 
        1631, 1639; 1761, 1769; and 1874, 1882. On June 8, 2004, astronomers worldwide watched the tiny dot of Venus crawl across 
        the Sun; and on June 6, 2012, the second in this pair of transits 
        occurred. The next transit is December 11, 2117. Observing 
        these transits helps us understand the capabilities and limitations of techniques used to find and characterize planets around 
        other stars.
        
    </p>  
</div>


