<nav>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Main</a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">About us</a>
    </li>
    <li>
      <a routerLink="/sun" routerLinkActive="active">Sun</a>
    </li>
    <li>
      <a routerLink="/mercury" routerLinkActive="active">Mercury</a>
    </li>
    <li>
      <a routerLink="/venus" routerLinkActive="active">Venus</a>
    </li>
    <li>
      <a routerLink="/earth" routerLinkActive="active">Earth</a>
    </li>
    <li>
      <a routerLink="/mars" routerLinkActive="active">Mars</a>
    </li>
    <li>
      <a routerLink="/jupiter" routerLinkActive="active">Jupiter</a>
    </li>
    <li>
      <a routerLink="/saturn" routerLinkActive="active">Saturn</a>
    </li>
    <li>
      <a routerLink="/neptune" routerLinkActive="active">Neptune</a>
    </li>
  </ul>
</nav>
