<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">MAIN</a>
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="active">ABOUT US</a>
    </li>
    <li>
      <a routerLink="/CONTACTS" routerLinkActive="active">CONTACTS</a>
    </li>
    <!-- <li>
      <a routerLink="/mercury" routerLinkActive="active">Mercury</a>
    </li>
    <li>
      <a routerLink="/venus" routerLinkActive="active">Venus</a>
    </li>
    <li>
      <a routerLink="/earth" routerLinkActive="active">Earth</a>
    </li> -->

  </ul>
</nav>