content {
  text-align: right;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 40px;
  position: relative;
  display: inline-block;
  color: #FFFFFF;
}

h1::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Картинки зліва */
.image-section {
  flex: 1;
  text-align: left;
}

.image-section img {
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
}

/* Текст праворуч від картинки */
.text-section {
  flex: 1;
  padding-left: 20px;
}

.description {
  font-size: 1.2em;
  line-height: 1.5;
  text-align: left;
  color: #F1F1F1;
}