.about-us-container {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-top: 20px;
  }
  
  .image-container {
    flex: 1;
    margin-right: 20px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .text-container {
    flex: 2;
  }
  
  .text-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: red;
  }
  
  .text-container p {
    font-size: 18px;
    line-height: 1.6;
    color: red;
  }
  