<div class="about-us-container">
    <div class="image-container">
      <img src="assets/about-us-image.jpg" alt="About us image">
    </div>
    <div class="text-container">
      <h1>About Us</h1>
      <p>
        We are the Tarot team. We guess that Galaxy is immense and interesting part of our life. <br>
        About us:  We are easy-going,  knowledgeable about a wide range of topics including science, technology, history, current events, arts and culture.
        We enjoy intellectual discussions and can engage on nearly any subject. <br>
      </p>
    </div>
  </div>
  