<div class="content">
  <h1>WHO WE ARE</h1>

  <div class="image-row">
    <div class="image-section">
      <img src="../../../assets/images/about_us/au_thirst_photo.jpg" alt="Team Photo 1">
    </div>
    <div class="text-section">
      <p class="description">
        we are so cooked that we cant do anything and do something about it well if you liked our project consider pressing the like button and subscribe to the channel see ya later guyssssssssssssssssssssss
      </p>
    </div>
  </div>

  <div class="image-row">
    <div class="text-section">
      <p class="description">
        we are so cooked that we cant do anything and do something about it well if you liked our project consider pressing the like button and subscribe to the channel see ya later guyssssssssssssssssssssss
      </p>
    </div>
    <div class="image-section">
      <img src="../../../assets/images/about_us/au_second_photo.jpg" alt="Team Photo 2">
    </div>
  </div>

  <div class="image-row">
    <div class="image-section">
      <img src="../../../assets/images/about_us/au_third_photo.jpg" alt="Team Photo 3">
    </div>
    <div class="text-section">
      <p class="description">
        we are so cooked that we cant do anything and do something about it well if you liked our project consider pressing the like button and subscribe to the channel see ya later guyssssssssssssssssssssss
      </p>
    </div>
  </div>
</div>
