<nav>
  <div class="container">
      <section class="about-section">
          <div class="about-title">
              <h1>ABOUT</h1>
              <hr class="title-underline">
          </div>
          <div class="about-content">
              <div class="image-left">
                  <img src="../../../assets/images/about_us/au_first_photo.jpg" alt="Team Image 1">
              </div>
              <div class="text-right">
                  <h2>WHO WE ARE</h2>
                  <p>We are the Tarot team. The group of students of Ukrainian National Aviation University, who are energetic and follow common dream to create something useful.</p>
              </div>
          </div>
      </section>

      <section class="team-section">
          <div class="team-content">
              <div class="text-left">
                  <div class="team-title">
                      <h3>MEMBERS OF OUR TEAM</h3>
                  </div>
                  <ul>
                      <li><strong>Eugene Verbitskiy</strong> – Team Leader, loves a guinea pig more than us</li>
                      <li><strong>David Gricenok</strong> – Want to buy a cool car in the future</li>
                      <li><strong>Vitaliy Syniak</strong> – Uses Chat GPT for everything</li>
                      <li><strong>Nataliia Volynets</strong> – Kiwi tea lover</li>
                      <li><strong>Illia Zhurbenko</strong> – Drones assembling enthusiast</li>
                      <li><strong>Illia Maksymchuk</strong> – Will do everything for food</li>
                      <li><strong>Taras Datsenko</strong> – Unrecognised master of beatmapping in rhythm games</li>
                  </ul>
              </div>
              <div class="image-right">
                  <img src="../../../assets/images/about_us/au_second_photo.jpg" alt="Team Image 2">
              </div>
          </div>
          <div class="centered-image">
              <img src="../../../assets/images/about_us/au_third_photo.jpg" alt="Team Image 3">
              <hr class="image-underline">
          </div>
      </section>

      <footer class="footer-text">
          <p>We believe that Galaxy is immense and interesting part of our life. <br>  
              We are easy-going, knowledgeable about a wide range of topics including science, technology, history, current events, arts and culture. We enjoy intellectual discussions and can engage on nearly any subject.</p>
      </footer>
  </div>
</nav>
