<title>Uranus Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfuranus.png" alt="Uranus Image">
    </div>
</div>
<h1>THE URANUS</h1>
<hr class="line">
<div class="right">
    <p>
        In visible wavelengths as seen by Voyager 2 in the 1980s, Uranus appeared as a placid, solid blue ball. In infrared wavelengths, Webb is revealing a strange and dynamic ice world filled with exciting atmospheric features.

        One of the most striking of these is the planet’s seasonal north polar cloud cap. Compared to the Webb image from earlier this year, some details of the cap are easier to see in these newer images. These include the bright, white, inner cap and the dark lane in the bottom of the polar cap, toward the lower latitudes.

        Several bright storms can also be seen near and below the southern border of the polar cap. The number of these storms, and how frequently and where they appear in Uranus’s atmosphere, might be due to a combination of seasonal and meteorological effects.

        The polar cap appears to become more prominent when the planet’s pole begins to point toward the Sun, as it approaches solstice and receives more sunlight. Uranus reaches its next solstice in 2028, and astronomers are eager to watch any possible changes in the structure of these features. Webb will help disentangle the seasonal and meteorological effects that influence Uranus’s storms, which is critical to help astronomers understand the planet’s complex atmosphere.
    </p>
</div>


