<!--
<ngt-canvas [sceneGraph]="sceneGraph" />
-->

<div class="solar-system">
  <div class="orbit mercury-orbit"></div>
  <div class="orbit venus-orbit"></div>
  <div class="orbit earth-orbit"></div>
  <div class="orbit mars-orbit"></div>
  <div class="orbit jupiter-orbit"></div>
  <div class="orbit saturn-orbit"></div>
  <div class="orbit uranus-orbit"></div>
  <div class="orbit neptune-orbit"></div>

  <div class="sun">
    <a href="sun" routerLink="/sun" routerLinkActive="active">
      <img src="../../../assets/images/planets/sun.png" alt="Sun" />
    </a>
  </div>
  <div class="planet mercury">
    <a href="mercury" routerLink="/mercury" routerLinkActive="active">
      <img src="../../../assets/images/planets/mercury.png" alt="Mercury" />
    </a>
  </div>
  <div class="planet venus">
    <a href="venus" routerLink="/venus" routerLinkActive="active">
      <img src="../../../assets/images/planets/venus.png" alt="Venus" />
    </a>
  </div>
  <div class="planet earth">
    <a href="earth" routerLink="/earth" routerLinkActive="active">
      <img src="../../../assets/images/planets/earth.png" alt="Earth" />
    </a>
  </div>
  <div class="planet mars">
    <a href="mars" routerLink="/mars" routerLinkActive="active">
      <img src="../../../assets/images/planets/mars.png" alt="Mars" />
    </a>
  </div>
  <div class="planet jupiter">
    <a href="jupiter" routerLink="/jupiter" routerLinkActive="active">
      <img src="../../../assets/images/planets/jupiter.png" alt="Jupiter" />
    </a>
  </div>
  <div class="planet saturn">
    <a href="saturn" routerLink="/saturn" routerLinkActive="active">
      <img src="../../../assets/images/planets/saturn.png" alt="Saturn" />
    </a>
  </div>
  <div class="planet uranus">
    <a href="uranus" routerLink="/uranus" routerLinkActive="active">
      <img src="../../../assets/images/planets/uranus.png" alt="Uranus" />
    </a>
  </div>
  <div class="planet neptune">
    <a href="neptune" routerLink="/neptune" routerLinkActive="active">
      <img src="../../../assets/images/planets/neptun.png" alt="Neptune" />
    </a>
  </div>
</div>