<title>Jupiter Page</title>

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfjupiter.png" alt="Jupiter Image"> <!-- Указываем путь к загруженному изображению -->
    </div>
</div>
<h1>THE JUPITER</h1>
<hr class="line">
<div class="right">
    <p>Jupiter is the largest planet in our solar system. If Jupiter was a hollow shell, 1,000 Earths could fit inside. Jupiter also is the oldest planet, forming from the dust and gases left over from the Sun's formation 4.5 billion years ago. But it has the shortest day in the solar system, taking only 10.5 hours to spin around once on its axis.


        As the most massive world in our solar system, orbited by four large moons and many smaller ones, Jupiter forms its own solar system in miniature. Jupiter resembles a star in composition, and if it had been about 80 times more massive, it would have become a star rather than a planet.

        Jupiter's appearance is a tapestry of beautiful colors and swirling atmospheric features. Most of its visible clouds are composed of ammonia and hydrogen sulfide. Water clouds exist deep below and can sometimes be seen through clear spots in the higher cloud layers. Jupiter's "stripes" are created by strong east-west winds in the planet's upper atmosphere. Within these belts and zones are storm systems that can rage for years. The most notable of these long-lived features is the Great Red Spot, a giant, crimson- colored vortex twice as wide as Earth, which has been observed for at least a couple hundred years. In recent years, the Great Red Spot has appeared to be shrinking in its east-west width.
    </p>
</div>


