

/* Заголовок по правому краю сверху */
.header {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Выровняем заголовок и стрелку по правому краю */
}

h1 {
    text-align: right;
    color: white;
    margin: 5vh 0.3vw 0 0;
    font-size: 4vw;
    font-family: 'Josefin Sans', sans-serif;
}

/* Стили для стрелки */
.arrow-link {
    display: inline-block;
    margin-right: 0.5vw;
    margin-top: 5vh;
    text-decoration: none; /* Убираем стандартное подчеркивание */
    border-bottom: 2px solid transparent; /* Добавляем прозрачное нижнее подчеркивание для анимации */
    transition: border-color 0.3s ease; /* Эффект при наведении */
    line-height: 0; 
}
.arrow-link:hover {
    border-bottom: 2px solid white; /* Подчеркивание стрелки при наведении */
}

.arrow-img {
    
    transition: transform 0.3s ease; /* Эффект при наведении */
}

.arrow-img:hover {
    transform: scale(1.2); /* Увеличиваем изображение при наведении */
}


/* Контейнер для двух колонок: левая с фото, правая с текстом */
.content {
    display: flex;
    margin-top: 10px; /* Уменьшаем отступ сверху */
    position: relative;
    z-index: -1000;
}

/* Левая колонка с изображением */
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; /* Измените, чтобы изображение находилось в верхней части контейнера */
    position: fixed;
    height: 100vh;
}

.left img {
    height: 120%; /* Изображение занимает 150% высоты */
    position: absolute; /* Абсолютное позиционирование внутри фиксированного контейнера */
    top: -16vh; /* Поднимаем изображение выше */
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
}
.line {
    border: none; /* Убираем стандартную границу */
    height: 2px; /* Высота линии */
    background-color: rgb(175, 166, 166); /* Цвет линии */
    margin: 2vh; /* Отступы сверху и снизу */
    width: 20%; /* Ширина линии */
    margin-right: 3vw; /* Отступ справа */
    margin-left: auto; /* Линия выровнена по правому краю */
}
/* Правая колонка с текстом */
.right {
    font-family: 'Josefin Sans', sans-serif;
    margin-right: 10vw;
    text-align: right; /* Выровнять текст по правому краю */
    color: #ccc; /* Светло-серый цвет для подзаголовка */
    margin-right: 3vw; /* Отступ справа */
    font-size: 1.8vw; /* Относительный размер шрифта */
    margin-top: 1vh; /* Минимальный отступ сверху под заголовком */
    margin-bottom: 10vh; /* Явный отступ снизу */
    margin-left: 23vw; /* Отступ слева для текста */
}
