/* Сбрасываем отступы и задаём 100% высоту для страницы */
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;

}

/* Заголовок по правому краю сверху */
h1 {
    text-align: right;
    /* Выровнять заголовок по правому краю */
    color: white;
    /* Цвет заголовка */
    margin: 5vh 2vw 0 0;
    /* Уменьшаем отступы сверху и снизу */
    font-size: 4vw;
    /* Размер шрифта зависит от ширины окна просмотра */
    font-family: 'Josefin Sans', sans-serif;

}

/* Контейнер для двух колонок: левая с фото, правая с текстом */
.content {
    display: flex;
    margin-top: 10px;
    /* Уменьшаем отступ сверху */
    position: relative;
}

/* Левая колонка с изображением */
.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* Измените, чтобы изображение находилось в верхней части контейнера */
    position: fixed;
    height: 100vh;
}

.left img {
    height: 120%;
    /* Изображение занимает 150% высоты */
    position: absolute;
    /* Абсолютное позиционирование внутри фиксированного контейнера */
    top: -10vh;
    /* Поднимаем изображение выше */
    left: 0;
    margin: 0;
    padding: 0;
    border: none;
}

/* Правая колонка с текстом */
.right {
    font-family: 'Josefin Sans', sans-serif;

    text-align: right;
    /* Выровнять текст по правому краю */
    color: #ccc;
    /* Светло-серый цвет для подзаголовка */
    margin-right: 2vw;
    /* Отступ справа */
    font-size: 1.8vw;
    /* Относительный размер шрифта */
    font-style: Robotic;
    /* Курсив для текста */
    margin-top: 1vh;
    /* Минимальный отступ сверху под заголовком */
    margin-bottom: 10vh;
    /* Явный отступ снизу */
    margin-left: 23vw;
    /* Отступ слева для текста */
}