<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Galaxy Page</title>
<link rel="stylesheet" href="sun.component.css"> <!-- Подключение внешнего CSS файла -->

<div class="content">
    <div class="left">
        <img src="../../assets/images/planets/halfsun.png" alt="Sun Image">
        <!-- Указываем путь к загруженному изображению -->
    </div>
</div>
<h1>THE SUN</h1> <!-- Заголовок по правому краю сверху -->
<hr class="line">
<div class="right">
    <p>From our vantage point on Earth, the Sun may appear like an unchanging source of light and heat in the sky. But
        the Sun is a dynamic star, constantly changing and sending energy out into space. The science of studying the
        Sun and its influence throughout the solar system is called heliophysics.

        The Sun is the largest object in our solar system. Its diameter is about 865,000 miles (1.4 million kilometers).
        Its gravity holds the solar system together, keeping everything from the biggest planets to the smallest bits of
        debris in orbit around it.

        Even though the Sun is the center of our solar system and essential to our survival, it’s only an average star
        in terms of its size. Stars up to 100 times larger have been found. And many solar systems have more than one
        star. By studying our Sun, scientists can better understand the workings of distant stars.

        The hottest part of the Sun is its core, where temperatures top 27 million °F (15 million °C). The part of the
        Sun we call its surface – the photosphere – is a relatively cool 10,000 °F (5,500 °C). In one of the Sun’s
        biggest mysteries, the Sun’s outer atmosphere, the corona, gets hotter the farther it stretches from the
        surface. The corona reaches up to 3.5 million °F (2 million °C) – much, much hotter than the photosphere.\

    </p>
</div>
    

